*.acn
*.aux
*-blx.bib
*.bbl
*.bcf
*.blg
*.glg
*.gls
*.glo
*.glsdefs
*.idx
*.ilg
*.ind
*.ist
*.jpg
*.lof
*.log
*.lot
*.png
*.toc
*.out
*.pdf
*.run.xml
*.synctex.gz
*.xdy

# CMake folders
**/CMakeCache.txt
**/CMakeFiles/
**/build

